/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Glyphter';
  src: url("../assets/fonts/Glyphter.eot");
  src: url("../assets/fonts/Glyphter.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Glyphter.woff") format("woff"), url("../assets/fonts/Glyphter.ttf") format("truetype"), url("../assets/fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icon-6:before {
  content: '\0041'; }

.icon-icon-7:before {
  content: '\0042'; }

.icon-icon-8:before {
  content: '\0043'; }

.icon-icon-9:before {
  content: '\0044'; }

.icon-icon-10:before {
  content: '\0045'; }

.icon-icon-11:before {
  content: '\0046'; }

.icon-icon-5:before {
  content: '\0047'; }

.icon-icon-12:before {
  content: '\0048'; }

.icon-icon-13:before {
  content: '\0049'; }

.icon-icon-1:before {
  content: '\004a'; }

.icon-icon-2:before {
  content: '\004b'; }

.icon-icon-3:before {
  content: '\004c'; }

.icon-icon-4:before {
  content: '\004d'; }

section {
  max-width: 1024px;
  margin: auto; }

.parallax {
  height: 115%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.barra-65, .barra-70, .barra-80, .barra-85, .barra-95, .barra-100 {
  height: 5px;
  background-image: linear-gradient(to right, rgba(35, 49, 66, 0), #233142);
  position: absolute;
  left: 0px; }

.experiencia-1, .experiencia-2, .experiencia-3 {
  height: 5px;
  background-color: #fd2e2e;
  position: absolute; }

.divider-wrapper label, .background-years label {
  display: inline-block;
  background-color: #fd2e2e;
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  position: absolute;
  bottom: -5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }

a {
  text-decoration: none; }

body {
  background-image: url(../images/bg-body.png);
  background-repeat: repeat; }

nav {
  position: fixed;
  left: 0px;
  top: 10%;
  height: 65vh;
  width: 65px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center; }
  nav a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fd2e2e;
    height: 100%;
    width: 100%;
    color: white;
    margin-bottom: 1px;
    font-family: "Roboto", sans-serif; }
    nav a small {
      font-size: .8em;
      text-align: center;
      opacity: .7;
      display: none; }
    nav a i {
      font-size: 1.5em; }
    nav a:first-child {
      border-radius: 0px 30px 0px 0px; }
    nav a:last-child {
      border-radius: 0px 0px 30px 0px; }

nav a:nth-of-type(1) {
  background-color: #fd2e2e; }

nav a:nth-of-type(2) {
  background-color: #cf1b1b; }

nav a:nth-of-type(3) {
  background-color: #cf1b1b; }

nav a:nth-of-type(4) {
  background-color: #900d0d; }

nav a:nth-of-type(5) {
  background-color: #233142; }

nav a:nth-of-type(6) {
  background-color: #131f2b; }

nav a:nth-of-type(7) {
  background-color: #010103; }

header {
  height: 80vh;
  width: 100%; }

strong {
  font-weight: bold; }

.parallax {
  background-image: url(../images/bg-portfolio.jpg); }

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }
  .flex .wrap {
    flex-flow: row wrap; }
  .flex .between {
    justify-content: space-between; }

.brand {
  display: block;
  width: 300px;
  height: 416px;
  position: relative;
  top: 10%;
  left: 40%;
  background-image: url(../images/brand.svg);
  background-size: contain; }

.redes {
  position: absolute;
  right: 0px; }
  .redes a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0px 10px; }
    .redes a i {
      color: white;
      display: inline-block;
      font-size: 18px;
      line-height: 18px; }

section {
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 10px; }
  section article, section aside {
    padding: 60px 40px; }
  section aside {
    min-width: 200px; }
  section article {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    min-width: 790px; }
  section h1 {
    color: #fd2e2e;
    font-size: 3.5em;
    font-family: "Lato", sans-serif;
    text-align: right; }
  section h2 {
    color: #233142;
    font-size: 1.5em;
    font-family: "Lato", sans-serif;
    text-align: right; }

.main-text {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  color: #3d3e3f;
  font-weight: 400; }
  .main-text small {
    font-size: .8em; }

.divider-info {
  margin: 20px 0px; }

.divider-wrapper {
  width: 400px;
  position: relative;
  margin-left: 5px; }

.skills-text {
  width: 300px;
  display: inline-block; }

.barra-65 {
  width: 65%; }
  .barra-65 + label {
    left: 55%; }

.barra-70 {
  width: 70%; }
  .barra-70 + label {
    left: 60%; }

.barra-80 {
  width: 80%; }
  .barra-80 + label {
    left: 70%; }

.barra-85 {
  width: 85%; }
  .barra-85 + label {
    left: 75%; }

.barra-95 {
  width: 95%; }
  .barra-95 + label {
    left: 85%; }

.barra-100 {
  width: 100%; }
  .barra-100 + label {
    left: 95%; }

.background-years {
  width: 100%;
  height: 5px;
  background-color: #fec6c6;
  position: relative; }
  .background-years label {
    background-color: #233142;
    bottom: 10px;
    font-size: 1.1em;
    font-weight: 300; }

.experiencia-1 {
  width: 50%;
  left: 50%; }
  .experiencia-1 + label {
    left: 82%; }

.experiencia-2 {
  width: 32%;
  left: 15%; }
  .experiencia-2 + label {
    left: 29%; }

.experiencia-3 {
  width: 15%;
  left: 0%; }
  .experiencia-3 + label {
    left: -3%; }

.number-years span {
  font-size: 2em; }

/*# sourceMappingURL=main.css.map */
